.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 47, 61);
  color: white;
  height: 100%;
  padding: 0 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: -1px;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__icon {
  width: 3.2rem;
}

.logo__title {
  font-size: 2.4rem;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__icon {
  padding: 0.8rem;
  background-color: white;
  border-radius: 50rem;
  margin-right: 0.8rem;
}

.user__name-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user__name {
  font-size: 1.4rem;
  font-weight: 700;
}

.user__handle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}
